@(blog : Blog)
@doctype.render
@navbar.render

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <title>Blog Page</title>
    </head>
    <body class="bg-light">
        <div class="container">
            <br>
            <h2 class="text-info"><b>Rhonda's Blog</b></h2>
            <br>

            <img  src="/blogpicture/@blog.getBlogId" width="125px"><br><br>

            <h4 class="text-info"><strong>Title</strong></h4>

            <textarea name="blogdesc" rows="2" cols="40" >@blog.getBlogName</textarea>
            <br><br>

            <h4 class="text-info"><strong>Description</strong></h4>
            <textarea name="blogdesc" rows="2" cols="80">@blog.getBlogDesc</textarea>

            <br><br>

            <h4 class="text-info"><strong>Blog</strong></h4>

            <textarea name="blogdesc" rows="10" cols="100">@blog.getBlogBody</textarea>
            <br><br>

            <a class="btn  bg-info btn-sm mr-3 text-white"  href="/bloglist">Back to Blogs</a>
            <a class="btn  bg-info btn-sm text-white" href="/homepage">Homepage</a>
        </div>
    </body>
</html>