@(blog : Blog)
@doctype.render

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <title>Blog Page</title>
    </head>
    <body>
        <br>
        <h2>Rhonda's Blog</h2>
        <br>

        <img  src="/blogpicture/@blog.getBlogId" width="250px"><br><br>

        <h4>Title</h4>

        <textarea name="blogdesc" rows="2" cols="40">@blog.getBlogName</textarea>
        <br><br>

        <h4>Description</h4>
        <textarea name="blogdesc" rows="2" cols="80">@blog.getBlogDesc</textarea>

        <br><br>

        <h4>Blog</h4>

        <textarea name="blogdesc" rows="10" cols="100">@blog.getBlogBody</textarea>
        <br><br>

        <a class="btn btn-info" href="/bloglist">Return to List</a>
        <a href="/blogdlist">Blog List</a>

    </body>
</html>