@(blogs : List[Blog])
@doctype.render

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <title>Home Page</title>
    </head>
    <body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Blog Name</th>
                    <th scope="col">Blog Desc</th>
                </tr>
            </thead>
            <tbody>
                @for( blog <- blogs){
                <tr>
                    <td><a href="/blog/@blog.getBlogId">@blog.getBlogName</a></td>
                    <td>@blog.getBlogDesc</td>
                </tr>
                }
            </tbody>
        </table>
    </body>
</html>


