@(diets : List[Diet])
@doctype.render
@navbar.render

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/stylesheets/body.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <title>Food Prep</title>
    </head>
    <body class="bg-light">
        <div class="container">
        <br>
        <h1 class="text-secondary">Meal Plans</h1><br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="text-white bg-secondary mr-3">Title</th>
                        <th scope="col" class="text-white bg-secondary">Description</th>
                        <th scope="col" class="text-white bg-secondary">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for( diet <- diets){
                    <tr>
                        <td>@diet.getDietName</td>
                        <td>@diet.getDietDesc</td>

                        <td>
                            <a href="/dietdisplay/@diet.getPrepId" class="text-dark"><u>View</u></a>
                            <a href="/dietedit/@diet.getPrepId" class="text-dark ml-3"><u>Edit/Delete</u></a>
                        </td>
                    </tr>
                    }
                </tbody>
                <table>
                    <br>
                    <tr>
                        <a class="btn  bg-secondary btn-sm text-white mr-3 " href="/dietadd">Add Meal Plan</a>
                        <a class="btn  bg-secondary btn-sm text-white" href="/homepage">Homepage</a>
                    </tr>
                </table>
            </table>
        </div>
    </body>
</html>
