@doctype.render

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <title>Add Diet</title>

    </head>
    <body>
        <h2><strong>Add Diet</strong></h2><br>

        <form method="post" enctype="multipart/form-data">
            @helper.CSRF.formField

            <label  class="badge badge-info">Title</label><br>
            <textarea name="prepname" rows="1" cols="30"></textarea>
            <br><br>

            <label  class="badge badge-info">Description</label><br>
            <textarea name="prepdesc" rows="2" cols="80"></textarea>
            <br><br>

            <label  class="badge badge-info">Diet</label><br>
            <textarea name="prepbody" rows="8" cols="80"></textarea>
            <br><br>

            <input type="submit" value="Save">

        </form>
    </body>
</html>