@(diet : Diet)
@doctype.render
@navbar.render

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <title>Edit Diet</title>
    </head>

    <body class="bg-light">
        <div class="container" >
            <br>
            <h2 class="text-secondary"><strong>Edit Meal Plan</strong></h2>
            <!--<h5>Now Editing:  @diet.getDietName</h5>-->
            <form method="post" enctype="multipart/form-data">
                @helper.CSRF.formField

                <img  src="/dietpicture/@diet.getPrepId" width="175px"><br><br>

                <label  class="text-secondary"><B>Title</B></label><br>
                <textarea name="prepname" class="border-secondary rounded" rows=1" cols="40">@diet.getDietName</textarea>
                <br><br>

                <label  class="text-secondary"><B>Description</B></label><br>
                <textarea name="prepdesc" class="border-secondary rounded" rows="2" cols="80">@diet.getDietDesc</textarea>
                <br><br>

                <label  class="text-secondary"><B>Meal Preparation Plan</B></label><br>
                <textarea name="prepbody" class="border-secondary rounded" rows="10" cols="80">@diet.getDietBody</textarea>
                <br>
                <table>
                    <tr>
                        <td>
                            <input type="submit" value="Save" class="btn btn-sm mr-3 bg-secondary text-white" formmethod="post" formaction="/dietedit/@diet.getPrepId">
                        </td>
                        <td>
                            <input type="submit" value="Delete" class="btn btn-sm bg-secondary text-white  mr-3" formmethod="post" formaction="/dietdelete/@diet.getPrepId">
                        </td>
                        <br>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>