@doctype.render
@navbar.render

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <title>Add Meal Plan</title>

    </head>
    <body class="bg-light">
        <br>
        <div class="container">
            <h2 class="text-info"><strong>Add Mealplan</strong></h2><br>
            <form method="post" enctype="multipart/form-data">
                @helper.CSRF.formField

                <label  class="text-info"><B>Title</B></label><br>
                <textarea name="prepname" rows="1" cols="30"></textarea>
                <br><br>

                <label   class="text-info"><B>Description</B></label><br>
                <textarea name="prepdesc" rows="2" cols="80"></textarea>
                <br><br>

                <label   class="text-info"><B>Preparation</B></label><br>
                <textarea name="prepbody" rows="8" cols="80"></textarea>
                <br><br>

                <table>
                    <tr>
                        <td>
                            <input type="submit" value="Save" class="btn btn-sm bg-info  mr-3 text-white" href="/dietlist">
                        </td>
                        <td>
                            <a class="btn bg-info btn-sm mr-3 text-white" href="/dietlist">Back to Meals</a>
                        </td>
                        <td>
                            <a class="btn bg-info btn-sm mr-3 text-white" href="/homepage">Homepage</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>