@(blog : Blog, diet : Diet, video : Video, podcast : Podcast)
@doctype.render
@navbar.render

<div lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/stylesheets/body.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <title>Home Page</title>
    </head>

    </body>
    <div>
        <div class="container">
            <div class="page-header"></div>
            <h1 class="text-secondary text-center"><strong>Rhonda's Health & Wellness Site</strong></h1>
                <br>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--PICTURES UNDER NAVBAR & Site Title-->
        <div class="row mb-4">
            <div class="col-2">
            </div>
            <div class="col-4">
                <img  src="/assets/images/rhondatvwithgirls.jpg" width="400px" height="250px">
            </div>
            <div class="col-4">
                <img  src="/assets/images/rhondatvwithman.jpg" width="400px" height="250px">
            </div>
            <div class="col-2">
            </div>
        </div>

        <!--VIDEO-->
        <div class="alert alert-info bg-secondary text-white text-center">
            <h4>Videocast</h4>
        </div>
        <div class="container">
            <div class="row mb-2">
                <div class="col 3">
                    <div class="text-secondary text-center">
                        <video width="400" height="250" controls>
                            <source src="/video/@video.getVideoId" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>

        <!--PODCAST-->
        <div class="alert alert-info bg-secondary text-white text-center">
            <h4>Podcast</h4>
        </div>
        <div class="container">
            <div class="row mb-1">
                <div class="col-12">
                    <div class="text-secondary text-center">
                        <img  src="/assets/images/HangingApple.jpeg" width="400px" height="250px">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mb-1">
                <div class="col-12">
                     <div class="text-secondary text-center">
                            <video width="250" height="50" controls>
                             <source src="/podcastlisten/@podcast.getPodcastId" type="audio/mp3">
                         </video>
                     </div>
                </div>
            </div>
        </div>

        <!--BLOG-->
        <div class="alert alert-info bg-secondary text-white text-center">
            <h4>Blog</h4>
        </div>

        <div class="container">
            <div>
                <div class="row mb-2">
                    <div class="col 3">
                        <div class="text-secondary text-center">
                            <h5><B>@blog.getBlogDesc</B></h5>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="row mb-2">
                    <div class="col 3">
                        <div class="text-secondary">
                            <h5>@blog.getBlogBody</h5>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col 12">
                        <div class="text-secondary text-center">
                            <a href="/bloglist" class="text-center text-secondary"><u>See other blogs</u></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--MEAL PREP-->
        <div class="alert alert-info bg-secondary text-white text-center">
            <h4>Meal Plans</h4>
        </div>

        <div class="container">
            <div>
                <div class="row mb-2">
                    <div class="col 3">
                        <div class="text-secondary text-center">
                            <h5><B>@diet.getDietDesc</B></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row mb-2">
                    <div class="col 12">
                        <div class="text-secondary">
                            <h5>@diet.getDietBody</h5>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col 12">
                        <div class="text-secondary text-center">
                            <a href="/dietlist" class="text-center text-secondary"><u>See other meal plans</u></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
