@(blog : Blog, diet : Diet, video : Video)
@doctype.render
@navbar.render

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/stylesheets/body.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <title>Home Page</title>
    </head>
    <body>
        <div class="container">
            <div class="page-header"></div>
            <h1 class="text-secondary"><strong></strong><center>Rhonda's Health & Wellness Site</center></h1></strong></h1><br>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--PICTURES-->
        <div class="row mb-4">
            <div class="col-2">
            </div>
            <div class="col-4">
                <img  src="/assets/images/rhondatvwithgirls.jpg" width="400px" height="250px">
            </div>
            <div class="col-4">
                <img  src="/assets/images/rhondatvwithman.jpg" width="400px" height="250px">
            </div>
            <div class="col-2">
            </div>
        </div>

        <!--VIDEO-->
        <div class="alert alert-info bg-secondary text-white text-center">
            <strong>Video</strong>
        </div>

        <!--PODCAST-->
        <div class="alert alert-info bg-secondary text-white text-center">
            <strong>Podcast</strong>
        </div>

        <!--BLOG-->
        <div class="alert alert-info bg-secondary text-white">
            <strong><center>Blog</center></strong>
        </div>

        <div class="container">
            <div>
                <div class="row mb-2">
                    <div class="col 3">
                        <div class="text-secondary text-center">
                            <h5><B>@blog.getBlogDesc</B></h5>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="row mb-2">
                    <div class="col 3">
                        <div class="<b>text-secondary<b>">
                            <h5>@blog.getBlogBody</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--MEAL PREP-->
        <div class="alert alert-info bg-secondary text-white text-center">
            <strong>Meal Prep</strong>
        </div>

        <div class="container">
            <div>
                <div class="row mb-2">
                    <div class="col 3">
                        <div class="text-secondary text-center">
                            <h5><B>@diet.getDietDesc</B></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="row mb-2">
                    <div class="col 3">
                        <div class="<b>text-secondary<b>">
                            <h5>@diet.getDietBody</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div>
                <div class="row mb-2">
                    <div class="col 3">
                        <div class="text-secondary text-center">
                            <video width="320" height="240" controls>
                                <source src="video.getVideoFile" type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
