@(videos: List[Video])
@doctype.render

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <title>Video Page</title>
    </head>
    <body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Video Name</th>
                    <th scope="col">Video Desc</th>
                </tr>
            </thead>
            <tbody>
                @for( video <-videos){
                <tr>
                    <td><a href="/videodisplay/@video.getVideoId">@video.getVideoName</a></td>
                    <td>@video.getVideoDesc</td>
                </tr>
                }
            </tbody>
        </table>
    </body>
</html>

